<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/loginsignup.css" rel="stylesheet">
    <link href="/static/book.png" rel="icon">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">Book Reviews</a>
      <a href="/logout">Logout</a>
    </nav><br>
  <a href="/createreview">Create a book review</a><br><br>
  <form action="/searchresults" method="get">
  <input name="search" placeholder="Search for a book..." autocomplete="off"><br><br>
  <input type="submit" value="Search">
  </form><br><br>
  <iframe src="/reviews" style="border:2px solid white; width:100%; height:625px;"></iframe>
  </body>
</html>