<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/book.png" rel="icon">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">Book Reviews</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav><br><br>
    <div style="width:80%; margin-left:10%; margin-right:10%;">
    <h3 style="font-size:20px">Welcome to Book Review. If you're bored and don't know what to read, you can use this. Go to the <a href="/books">Book Reviews page</a> to find a book that you might be interested in. You can also <a href="/signup">create your own account</a> to create your own book review. If you have an account, you can <a href="/login">login</a>.</h3>
    <h3 style="font-size:20px"><a href="/about" target="_blank">Click here</a> for more information.</h3>
    </div>
  </body>
</html>